#!/usr/bin/expect

set timeout 120

spawn "/usr/hdp/current/atlas-server/bin/cputil.py"

expect "full path" { send "{{ passwdFileLocation }}\r" }
expect "keystore.password" { send "{{ server_storepass_password }} \r" }
expect "keystore.password" { send "{{ server_storepass_password }}\r" }
expect "truststore.password" { send "{{ client_truststore_password }}\r" }
expect "truststore.password" { send "{{ client_truststore_password }}\r" }
expect "for password" { send "{{ server_keypass_password }}\r" }
expect "for password" { send "{{ server_keypass_password }}\r" }
expect eof
