#This is created by Ambari DeployNG code
Listen 6182
<VirtualHost *:6182>
SSLEngine On
        SSLProxyEngine On
        SSLCertificateFile {{ ranger_ca_cert_dir }}/{{ certs_ca_cert }}
        SSLCertificateKeyFile {{ ranger_ca_cert_dir }}/{{ certs_ca_key }}
        SSLCACertificatePath {{ ranger_ca_cert_dir }}
        #SSLCACertificateFile /etc/apache2/ssl/dev.pem
        SSLVerifyClient optional
        SSLOptions +ExportCertData
        SSLProxyVerify none
        SSLProxyCheckPeerCN off
        SSLProxyCheckPeerExpire off
        SSLProxyCheckPeerName off
        ProxyRequests off
        ProxyPreserveHost on
        Header add Set-Cookie "ROUTEID=.%{BALANCER_WORKER_ROUTE}e; path=/" env=BALANCER_ROUTE_CHANGED
    <Proxy balancer://rangersslcluster>
          BalancerMember {{ ranger_protocol }}://{{ ranger_host_0 }}:{{ ranger_port }} loadfactor=1 route=1 timeout=5 retry=60
          BalancerMember {{ ranger_protocol }}://{{ ranger_host_1 }}:{{ ranger_port }} loadfactor=1 route=1 timeout=5 retry=60
               Order Deny,Allow
                Deny from none
                Allow from all
                ProxySet lbmethod=byrequests scolonpathdelim=On stickysession=ROUTEID maxattempts=1 failonstatus=500,501,502,503 nofailover=Off
        </Proxy>
        <Location /balancer-manager>
                SetHandler balancer-manager
                Order deny,allow
                Allow from all
        </Location>
       ProxyPass /balancer-manager !
       ProxyPass / balancer://rangersslcluster/
       ProxyPassReverse / balancer://rangersslcluster/
</VirtualHost>